<% if message.user.id == user.id%>
    <div class="column is-7 is-offset-5" style="display: flex; justify-content: flex-end;">
        <p class="notification is-primary conversation-message" style="border-radius: 20px; display: flex; justify-content: center;flex-direction: column-reverse;">
            <%=  message.content %>
            <% if message.attachments.attached?  %>
            <% message.attachments.each_with_index do |attachment, index|%>
                <% if attachment.image? %>
                    <%= image_tag(message.chat_attachment(index))%>
                <% elsif attachment.video? %>
                    <%= video_tag(url_for(attachment), style: 'height:auto; width:100%', controls:'')%>
                <% elsif attachment.audio? %>
                    <%= audio_tag(url_for(attachment), controls: '')%>
                <% elsif attachment.gif? %>
                    <%= gif_tag(url_for(attachment), controls: '')%>
                <% else %>
                    <%= link_to attachment.filename. url_for(attachment), style: "text-decoration: none; color: #fff"%>
                <% end %>         
            <% end %>
        <% end %>


        </p>
       
    </div>
    <% else %>
    <div class="column is-7">
        <article class="media">
            <div class="media-left">
                <figure class = "image is-32x32">
                    <%= image_tag avatar_url(message.user), class: "is-rounded"%>
                </figure>
            </div> 
            <div class="media-content" >
                <p class="notification is-primary conversation-message" style="border-radius: 20px; background-color: deepskyblue; display: flex; justify-content: center;flex-direction: column-reverse;">
                    <%=  message.content %>
                    <% if message.attachments.attached?  %>
                    <% message.attachments.each_with_index do |attachment, index|%>
                        <% if attachment.image? %>
                            <%= image_tag(message.chat_attachment(index))%>
                        <% elsif attachment.video? %>
                            <%= video_tag(url_for(attachment), style: 'height:auto; width:100%', controls:'')%>
                        <% elsif attachment.audio? %>
                            <%= audio_tag(url_for(attachment), controls: '')%>
                        <% elsif attachment.gif? %>
                            <%= gif_tag(url_for(attachment), controls: '')%>
                        <% else %>
                            <%= link_to attachment.filename. url_for(attachment), style: "text-decoration: none; color: #fff"%>
                        <% end %>         
                    <% end %>
                <% end %>
                </p>
            </div>
          
        </article>
    </div>
<% end %>

<style>
    img{
        max-width: 70%;
    }
</style>