<% @title="Messages | Freelancer" %>
<section class="section" data-channel-subscribe = "conversation" data-conversation-id="<%= @conversation.id%>" data-user-id="<%= current_user.id %>">
    <div class="columns">
    
        <div class="column is-4">
            <nav class="menu">
                <p class="menu-label">
                    Chats
                </p>
                <ul class="menu-list">
                    <% @conversations.each do |conversation|%>
                        <% @client = conversation.sender_id == current_user.id ? conversation.receiver : conversation.sender   %>
                        <%= link_to conversations_detail_path(@client.id) do  %>
                            <li>
                            <article class="message <%= 'is-primary' if conversation.id ==  @conversation.id %>">
                                <div class="message-body">
                                    <div class="media">
                                        <div class="media-left">
                                            <figure class="image is-32x32 m-r-5 avatar online">
                                                <%= image_tag avatar_url(@client), class: "is-rounded"%>
                                            </figure>
                                        </div>                                
                                        <div class="media-content">
                                            <p class="title is-6"><%= @client.full_name %></p>
                                            <p class="subtitle is-7">
                                                <%= (conversation.last_message.user_id == current_user.id ? "You: #{conversation.last_message.content}" : conversation.last_message.content).truncate(20) %>
                                               .<%= time_ago_in_words(conversation.last_message.updated_at.strftime("%b %Y"))%>

                                            </p>
                                        </div>
                                        <div class="media-right">
                                        </div>
                                    </div>
                                </div>
                            </article>                    
                            </li>
                        <% end %>
                    <% end %>
                    
                </ul>
            </nav>
        </div>

        <div class="column is-8">

            <article class="media">
                <div class="media-left">
                    <figure class = "image is-32x32">
                        <%= image_tag avatar_url(@user), class: "is-rounded"%>
                    </figure>
                </div> 
                <div class="media-content">
                    <div class="content">
                        <h3><%= @user.full_name %></h3>
                        <small>From: <%= @user.from %></small>
                        <small>Language: <%= @user.language %></small>

                    </div>
                </div>
            </article>
            <hr>

            <!--My Messages -->
            <div data-controller='message-list'>
            <div class="" id = "message_list" data-target='message-list.messages' data-controller="scroll">
                <% @messages.each do |message| %>
                  <%= render 'conversations/message', message: message, user: current_user %>
                <% end %>
            </div>

            <!-- Send Message -->
            <div class="column m-t-25">
                <%= form_with model: Message.new, id: "new_message", data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset", turbo_method: :true } do |f| %>
                    <%= f.hidden_field :receiver_id, value: @user.id %>
                   
                    <div id="attachment-previews" data-controller="message-preview" data-action="message-preview#preview">
                        
                    </div>
                    <div class="image-upload" id="file_images">
                        <label for="message_attachments">
                            <i class="bi bi-plus-circle upload-button"></i>
                        </label>
                        <%= f.file_field(:attachments,id:"file_image", multiple: true, data:{controller:"message-preview", action:"change->message-preview#preview"})%>
                    </div>
                    <div class= "field has-addons">
                        <div class = "control" style = "width: 100%">
                            <%= f.text_field :content, class: "input", onkeyup: "check()" ,id: "input_message", data: { target: 'message-list.input' } , placeholder: "Aa", autocomplete: "off" %>
                        </div>
                        <div class="control">
                            <%= f.submit "Send", class: "button is-primary", id: "submit" ,data: {disable_with: false,controller: "message-preview", action: "click->message-preview#clearPreviews"} ,disabled: true%>
                        </div>   
                    </div>
                  
            <% end %>
            </div>
            </div>
            
        </div>
    </div>
</section>

<script>
    function check(){
        value = document.getElementById("input_message").value
        file = document.getElementById("file_image").files.length


        if (value.trim() == ""  && file == 0){
            document.getElementById("submit").disabled = true
        }
        else
        document.getElementById("submit").disabled = false

    }
    document.getElementById('file_image').onchange = function() {
        value = document.getElementById("input_message").value
        file = document.getElementById("file_image").files.length

        if (value.trim() == "" && file == 0){
            document.getElementById("submit").disabled = true
        }
        else
        document.getElementById("submit").disabled = false
    };
    $(window).load(function() {
        alert("ff")
        mess_list = document.getElementById("message_list")
        mess_list.scrollTop = mess_list.scrollHeight;
    });


</script>