<section class="section">
    <div class="container">
        <div class="columns">
            
            <!-- LEFT SIDE -->
            
            <div class="column is-one-third">
                <div class="columns is-multiline">

                    <!-- Top Card -->
                    <div class="column is-full">
                        <div class="card">

                            <!-- Avatar -->
                            <div class="card-content is-horizontal-center is-flex" style=" justify-content: center;">
                                <figure class="image is-128x128">
                                    <%= image_tag avatar_url(current_user), class: "is-rounded", style:"border: 2px solid black;" %>
                                </figure>
                            </div>
                                
                            <div class="card-content">
                    
                                <!-- Upload Button -->
                                <div class="content has-text-centered">
                                    <p class="title is-5"><%= current_user.full_name %></p>
                                    <%= form_for :user, url: users_edit_url(@user), action: :update, method: :post do |form| %>
                                    <div class = "file">
                                        <label class="button is-primary is-outlined is-fullwidth">
                                            <%= form.file_field :avatar, class: "file-input", onchange: "this.form.submit();" %>
                                            <i class = "fas fa-upload"></i>&nbsp; Upload Avatar  
                                        </label>
                                    </div>
                                    <% end %>
                                </div>
                                <hr class="h-10">
                                <p style="text-align: right;"><strong>Edit <i class="toggle far fa-edit" onclick="hideElements()" aria-controls="user-from"></i></strong></p>
                                <br/>
                                <!-- Member -->
                                <article class="media">
                                    <div class = "media-content">Member since</div>
                                    <div class = "media-right">
                                        <strong> <%= current_user.created_at.strftime('%b %Y') %> </strong>
                                    </div>
                                </article>
                                <hr class="h-10">
                                
                                <%= form_for :user, url: users_edit_url(@user), action: :update, method: :post, html: {id: 'user-info', class: ''} do |f| %> 
                                <!-- From -->
                                <article >
                                    <div class="media">
                                        <div class = "media-content">From </div>
                                            <div class = "media-right">
                                                <strong><%= current_user.from %> </strong>
                                            </div>
                                    </div>

                                    <div class = "content"  id="divFrom"  style="display: none">
                                        
                                        <div class= 'field'>
                                            <%= f.text_field :from, autofocus: true, autocomplete: 'form', class: 'input', id: 'text_from', value: current_user.from %>
                                        </div>
                                    </div>
                                
                                </article>                                
                                <hr class="h-10">

                                <!-- Online Status -->
                                <article> 
                                    <div class ="media">

                                    
                                    <div class = "media-content">Online</div>
                                    
                                    <div class = "media-right">
                                        <strong> <% if current_user.status %> Online <% else %> Offline <% end %> </strong>
                                    </div>
                                </div>

                                <div class = "content" id="divOnlineStatus"  style="display: none">
                                    <div class= 'field'>
                                        <%= f.select :status, [["Online", true, selected: current_user.status],["Offline", false, selected: !current_user.status]], {class: 'genForm_dropBox'}, {style: 'width:100%;height:40px;font-family: Arial;font-size: 15px;'} %>
                                    </div>
                                    <%#= f.submit "Save", class: "button is-danger" %>

                                </div>
                                </article>  
                                <% end %>
                            </div>
                        </div>
                    </div>

                    <!-- Bottom Card -->
                    <div class="column is-full">
                        <div class="card">
                            <div class="card-content">

                                <%= form_for :user, url: users_edit_url(@user), action: :update, method: :post, html: {id: 'user-info2', class: ''} do |f| %> 
                                <!-- About -->
                                <article>
                                    <div class="media">
                                        <div class = "media-content">About </div>
                                            <div class = "media-right">
                                                <strong><%= current_user.about %> </strong> 
                                            </div>
                                    </div>

                                    <div class = "content" id="divAbout" style="display: none">
                                        <div class= 'field'>
                                            <%= f.text_field :about, autofocus: true, autocomplete: 'form', class: 'input', id: 'text_about', value: current_user.about %>
                                        </div>
                                    </div>
                                </article>  
                                <hr class="h-10">

                                <!-- Language -->
                                <article>
                                    <div class="media">
                                        <div class = "media-content">Language </div>
                                            <div class = "media-right">
                                                <strong><%= current_user.language %> </strong>
                                            </div>
                                    </div>

                                    <div class = "content" id="divLanguage" style="display: none">
                                        <div class= 'field'>
                                            <%= f.text_field :language, autofocus: true, autocomplete: 'form', class: 'input', id: 'text_language', value: current_user.language %>
                                        </div>
                                        <div class="row" style="justify-content: center;">
                                        <a class="toogle button is-hovered is-fullwidth m-t-10 m-b-10 text-white", style="background: -webkit-linear-gradient(left,#B80909,#D01818,#E71919,#F84C4C); width: 40%; margin-right: 5%" 
                                        onclick="hideElements()" aria-controls="user-language">Cancel</a>
                                        <a id="submitInfo" onclick="submitInfo()" class="button is-hovered is-fullwidth m-t-10 m-b-10 text-white", style="background: -webkit-linear-gradient(left,#089617,#0CB91F,#0FD025,#15EF2C); width: 40%">Save</a>
                                        </div>
                                    </div>

                                </article>
                                <% end %>
                                <hr class="h-10">
                                
                                <!-- Linked Account -->
                                <article class="media"></article>
                                <%= link_to "View client profile", user_show_path(current_user.id) , class: "button is-hovered is-fullwidth m-t-10 m-b-10 text-white", style:"background: -webkit-linear-gradient(left,#003366,#004080,#0059b3
                                       , #0073e6)"%>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- RIGHT SIDE -->
            <div class="column">
                <div class="columns is-multiline">

                   <!-- Create New Gig -->
            
                        <div class="column is-one-third has-text-centered">
                            <%= link_to new_gig_path do %>
                            <div class="card">

                                <div class="card-image card-content is-horizontal-center is-flex " style=" justify-content: center;">
                                    <figure class="image is-128x128 ">
                                        <!-- Plus Image Here -->
                                        <%= image_tag '106230_add_icon.png' %>
                                    </figure>
                                </div>

                                <div class="card-content">
                                    <strong>Create a new gig</strong>
                                </div>    

                            </div>
                            <% end %>
                        </div>
                                            

                    <!-- Sample Gig -->

                    <% current_user.gigs.each do |gig| %>
                        <div class="column is-one-third">
                            <div class="card">

                                <div class="card-image">
                                    <%= link_to edit_gig_path(gig) do %>
                                    <figure class="image is-4by3">
                                        <!-- Gig Cover Image Here -->
                                        <%= image_tag gig_cover(gig) %>
                                    </figure>
                                    <% end %> 
                                </div>

                                <div class="card-content p-t-5 p-b-5">
                                    <p class="subtitle is-6 m-b-5"><%= link_to gig.title, gig_path(gig) %></p>
                                    <span class="star-review"><i class="fa fa-star"></i>
                                        4.8 <span class="has-text-primary">(23)</span>
                                    </span>                                        
                                </div>

                                <footer class="card-footer">
                                    <% basic_price = gig.pricings.find { |p| p.pricing_type == 'basic' } %>

                                    <a class="has-text-danger is-block card-footer-item has-text-center">
                                        <% if !basic_price.nil? %>
                                        <span class="small-title">STARTING AT </span>
                                        <strong>$<%= basic_price.price  %></strong> 
                                        <% else %>
                                        <strong> 
                                            <span class="small-title has-text-dark">NO PRICICNG YET </span>
                                        </strong>    
                                        <% end %>                                       
                                    </a>
                                </footer>  
                                
                            </div>
                        </div>
                    <% end %>
                    
                    
                </div>
            </div>
            
        </div>
    </div>
</section>
<script>
    function hideElements() {
        var form = ['divFrom', 'divOnlineStatus', 'divAbout', 'divLanguage']
        form.forEach((id) => {
            hideElement(id)
        });
        fill_data();
    };
    function hideElement(id) {
        var x = document.getElementById(id);
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        };
    };
    function fill_data(){
        //var from = "<%=current_user.from%>"
        
        var text_from = document.getElementById("text_from");
        var text_status = document.getElementById("user_status");
        var text_about = document.getElementById("text_about");
        var text_language = document.getElementById("text_language");

        text_from.value = decodeHtml("<%=current_user.from%>")
        text_status.value = decodeHtml("<%=current_user.status%>")
        text_about.value = decodeHtml("<%=current_user.about%>")
        text_language.value = decodeHtml("<%=current_user.language%>")
    }

    function decodeHtml(str) {
        return str.replace("&amp;", '&')
                   .replace("&lt;", '<')
                   .replace("&gt;", '>')
                   .replace("&quot;", '"')
                   .replace("&#39;", "'");
    }

    function submitInfo(){
        $.post($("#user-info").attr("action"), $("#user-info").serialize() + $("#user-info2").serialize(), function() {
            document.getElementById("user-info").submit();
        });
    }
</script>