<div class="container">
  <div class="container-login" style="margin-top: 5%">
    <div class="wrapper ">
      <div class="title-text">
        <div class="title login">Change Your Password</div>
      </div>
      <div class="form-container" >
        <form class="new_user" data-turbo= "false" id="new_user" action="/password" accept-charset="UTF-8" method="post">
        <%= render "devise/shared/error_messages"%> 
        <%= render "shared/flashes"%>
        <input type="hidden" name="_method" value="put" autocomplete="off" />
        <input type="hidden" name="authenticity_token" value="CXfHU09ByZRjo1qnzv5lbiZsOX-PbJwodIupTv5WIhM3x59lQTeWXOqEvysYVzJpnchQYFzi-LlffMv7Mx59iw" autocomplete="off" />
          
          <input autocomplete="off" type="hidden" value="KgJV-P6YAaXhr6fyNuNg" name="user[reset_password_token]" id="user_reset_password_token" />
          <div class="form-inner">
            <div class="field">
              <div class="form-group password optional user_password">
                <label class="password optional" for="user_password">New Password</label>
                <input required class="form-control password optional" oninvalid="InvalidMsgPassword(this)"
                oninput="InvalidMsgPassword(this)" autocomplete="new-password" style="height: 40px" type="password" value="" name="user[password]" id="user_password" />
              </div>
            </div>
          </div>
          <div class="form-inner">
            <div class="field">
              <div class="form-group password optional user_password_confirmation">
                <label class="password optional" for="user_password_confirmation">Confirm new password</label>
                <input required class="form-control password optional" oninvalid="InvalidMsgPasswordConfirm(this)"
                oninput="InvalidMsgPasswordConfirm(this)" autocomplete="new-password" style="height: 40px" type="password" value="" name="user[password_confirmation]" id="user_password_confirmation" />
              </div>
            </div>
          </div>
          <br/>
          <div class="actions">
            <input type="submit" name="commit" class="button is-hovered is-fullwidth m-t-10 m-b-10 text-white" style="background: -webkit-linear-gradient(left,#003366,#004080,#0059b3
                                       , #0073e6)" value="Change my password" data-disable-with="Change my password" />
          </div>
        </form>
      </div>
      <div class="or"></div>
        <div class = "goolge">
          <%= render "devise/shared/sign_in_google" %>
          </div>
          <div class = "facebook">
            <%= render "devise/shared/sign_in_facebook" %>
          </div>
          <div class="sign-up" style="text-align: center">
            <p>Not a member? <%= link_to "Sign up", new_registration_path(resource_name) %> </p> 
          </div>
      </div> 

    </div>
  </div>
</div>
<script>
    function InvalidMsgPassword(textbox) {
      if (textbox.value === '') {
            textbox.setCustomValidity("Password can't be blank");
        } else if (textbox.value.length < 6){
            textbox.setCustomValidity("Please lengthen this text to 6 characters or more");
        } else {
           textbox.setCustomValidity('');
        }

        return true;
    }

    function InvalidMsgPasswordConfirm(textbox) {
      password = document.getElementById('user_password').value;
      if (textbox.value === '') {
            textbox.setCustomValidity("Password confirmation can't be blank");
        } else if (textbox.value !== password){
            textbox.setCustomValidity("The password confirmation does not match");
        } else {
           textbox.setCustomValidity('');
        }

        return true;
    }
</script>



