<% @gigs.each do |gig| %>
<div class="column is-one-third">
    <div class="card">

        <div class="card-image">
            <%= link_to edit_gig_path(gig) do %>
            <figure class="image is-4by3">
                <!-- Gig Cover Image Here -->
                <%= image_tag gig_cover(gig) %>
            </figure>
            <% end %> 
        </div>

        <div class="card-content p-t-5 p-b-5">
            <p class="subtitle is-6 m-b-5"><%= link_to gig.title.truncate(23), gig_path(gig) %></p>
            <span class="star-review"><i class="fa fa-star"></i>
                4.8 <span class="has-text-primary">(23)</span>
            </span>                                        
        </div>

        <footer class="card-footer">
            <!-- <% basic_price = gig.pricings.find { |p| p.pricing_type == 'basic' } %> -->
            <span class = "card-footer-item ">
                <%= link_to  user_show_path(gig.user) do%>
                <figure class="image is-32x32">
                    <%= image_tag avatar_url(gig.user), class: "is-rounded"%>
                </figure>
                <% end %>
            </span>
            <a class="has-text-danger is-block card-footer-item has-text-right">
                    <span class="small-title">STARTING AT</span> 
                    <strong>$<%= gig.price  %></strong>   
            </a>
        </footer>  
        
    </div>
</div>
<% end %>