<nav class="navbar has-shadow" style="z-index: 5">
    <div class="container">
        <div class="navbar">
            <%= link_to 'Dashboard', dashboard_path, class: "navbar-item" %>
            <a class="navbar-item">list</a>
            <a class="navbar-item">tasklist</a>
            <a class="navbar-item">myproject</a>
            <a class="navbar-item">inbox</a>
            <a class="navbar-item">free credit</a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Selling</a>
                    <div class="navbar-dropdown">
                        <%= link_to 'Post gig', new_gig_path, class: "navbar-item" %>
                    </div>
                
              </div>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">(Freelancer)Buying</a>
                    <div class="navbar-dropdown">
                        <%= link_to 'Freelancer Post Request', new_request_path, class: "navbar-item"%>
                        <%= link_to 'Manage Request', requests_path, class: "navbar-item"%>

                        <a class="navbar-item">Contact</a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">Report an issue</a>
                    </div>
                
              </div>

              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">(Freelancer) Requests</a>
                    <div class="navbar-dropdown">
                        <%= link_to 'Active Request', all_requests_path, class: "navbar-item"%>
                        <a class="navbar-item">Contact</a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">Report an issue</a>
                    </div>
                
              </div>

              <%= link_to 'Earnings', dashboard_path, class: "navbar-item" %>

              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Orders</a>
                    <div class="navbar-dropdown">
                        <%= link_to 'Selling Orders', selling_orders_path, class:"navbar-item"%>
                        <hr class="navbar-divider">
                        <%= link_to 'Buying Orders', buying_orders_path, class:"navbar-item"%>
                    </div>
                
              </div>
              

              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">settings</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">Create new gig </a>
                        <a class="navbar-item">Jobs</a>
                        <a class="navbar-item">Contact</a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">Report an issue</a>
                    </div>
                
              </div>

        </div>
    </div>

  </nav>
