
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <div class="nav">
                        <a href="#" style=":hover{color: red;}"><li>My Project</li></a>
                        <a href="#">Free Credit</a>
                        <div>
                            <a class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Selling <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <%= link_to 'Post gig', new_gig_path, class: "dropdown-item" %>
                                </ul>
                            </a>
                        </div>

                        <div>
                            <a class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">(Freelancer) Buying <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <%= link_to 'Freelancer Post Request', new_request_path, class: "dropdown-item"%>
                                    <%= link_to 'Manage Request', requests_path, class: "dropdown-item"%>

                                    <a class="dropdown-item">Contact</a>
                                    <hr class="dropdown-divider">
                                    <a class="dropdown-item">Report an issue</a>
                                </ul>
                            </a>
                        </div>

                        <div>
                            <a class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">(Freelancer) Requests <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <%= link_to 'Active Request', all_requests_path, class: "dropdown-item"%>
                                    <%= link_to 'Offers sent', my_offers_path, class: "dropdown-item"%>
                                    <hr class="dropdown-divider">
                                    <a class="dropdown-item">Report an issue</a>
                                </ul>
                            </a>
                        </div>

                        <div>
                            <a class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Orders <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <%= link_to 'Selling Orders', selling_orders_path, class:"dropdown-item"%>
                                    <hr class="dropdown-divider">
                                    <%= link_to 'Buying Orders', buying_orders_path, class:"dropdown-item"%>
                                </ul>
                            </a>
                        </div>

                        <div>
                            <a class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item">Create new gig </a>
                                    <a class="dropdown-item">Jobs</a>
                                    <a class="dropdown-item">Contact</a>
                                    <hr class="dropdown-divider">
                                    <a class="dropdown-item">Report an issue</a>
                                </ul>
                            </a>          
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
<style>
.header-area .main-nav .nav{
    flex-basis: 100%;
    margin-right: 100px;
}
.dropdown {
    margin-left: 10px;
    margin-right: 10px;
}

.dropdown-toggle {
    /* color: black; */
}
.dropdown :hover{
    background-color: blue;
}

.nav .a:hover {
    color: black;
}
</style>