
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <div class="nav" >
                    <div class="sub-nav" >
                        <a href="#"><li>My Project</li></a>
                        <a href="#">Free Credit</a>
                        <div class="subnav-item">
                            <a class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Selling <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <%= link_to 'Post gig', new_gig_path, class: "dropdown-item" %>
                                </ul>
                            </a>
                        </div>

                        <div class="subnav-item">
                            <a class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">(Freelancer) Buying <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <%= link_to 'Freelancer Post Request', new_request_path, class: "dropdown-item"%>
                                    <%= link_to 'Manage Request', requests_path, class: "dropdown-item"%>

                                    <a class="dropdown-item">Contact</a>
                                    <hr class="dropdown-divider">
                                    <a class="dropdown-item">Report an issue</a>
                                </ul>
                            </a>
                        </div>

                        <div class="subnav-item">
                            <a class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">(Freelancer) Requests <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <%= link_to 'Active Request', all_requests_path, class: "dropdown-item"%>
                                    <%= link_to 'Offers sent', my_offers_path, class: "dropdown-item"%>
                                    <hr class="dropdown-divider">
                                    <a class="dropdown-item">Report an issue</a>
                                </ul>
                            </a>
                        </div>

                        <div class="subnav-item">
                            <a class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Orders <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <%= link_to 'Selling Orders', selling_orders_path, class:"dropdown-item"%>
                                    <hr class="dropdown-divider">
                                    <%= link_to 'Buying Orders', buying_orders_path, class:"dropdown-item"%>
                                </ul>
                            </a>
                        </div>

                        <div class="subnav-item">
                            <a class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item">Create new gig </a>
                                    <a class="dropdown-item">Jobs</a>
                                    <a class="dropdown-item">Contact</a>
                                    <hr class="dropdown-divider">
                                    <a class="dropdown-item">Report an issue</a>
                                </ul>
                            </a>          
                        </div>
                    </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
<style>
.sub-nav, .dropdown{
    position: relative;
}
.navbar-dropdown{
    z-index: 1;
}
.sub-nav{
    padding: center;
    height: 50px;
    width: 1000px;
    /* flex-basis: 100%; */
    z-index: -2;
}
.sub-nav li{
    flex-basis: 100%;
    padding-right: 10px;
    display: inline-block;
}
.sub-nav .subnav-item{
    flex-basis: 100%;
    padding-right: 5px;
    padding-left: 5px;
    display: inline-block;
}
.sub-nav .dropdown-menu{
    flex-basis: 100%;
    padding-right: 10px;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
</style>