

                            <!-- <a  >
                               <h1 aria-control="<%= o.id %>" onclick="click()"> <%= link_to 'Rating', reviews_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window', class: 'button is-small is-outlined is-danger toggle-modal', onclick: "click()"} %> </h1> 
                            </a>
                            <div aria-control="<%= o.id %>" id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" > 
                                <div class="modal-dialog" id = "<%= o.id %>"  role="document"> 
                                    <div class="modal-content" id = "<%= o.id %>" >
                                       
                                        <div class="modal-header"> 
                                            <div class="field">
                                                <form id="form" style="margin-left: 10px;">
                                                    <fieldset class="stars">
                                                      <input type="radio" name="stars" id="star1<%= o.id %>"  ontouchstart="ontouchstart"/>
                                                      <label class="fa fa-star" for="star1" id = "<%= o.id %>"></label>
                                                      <input type="radio" name="stars" id="star2" <%= o.id %> ontouchstart="ontouchstart"/>
                                                      <label class="fa fa-star" for="star2" id = "<%= o.id %>"></label>
                                                      <input type="radio" name="stars" id="star3" <%= o.id %> ontouchstart="ontouchstart"/>
                                                      <label class="fa fa-star" for="star3" id = "<%= o.id %>"></label>
                                                      <input type="radio" name="stars" id="star4" <%= o.id %> ontouchstart="ontouchstart"/>
                                                      <label class="fa fa-star" for="star4" id = "<%= o.id %>"></label>
                                                      <input type="radio" name="stars" id="star5"  ontouchstart="ontouchstart"/>
                                                      <label class="fa fa-star" for="star5" id = ></label>
                                                    </fieldset>
                                                  </form>
                                            </div>
                                            </button> 
                                            <h4 class="modal-title" id="myModalLabel">Your rating</h4>
                                         </div> 
                                         <div class="modal-body"> 
                                            <div class="field">
                                                <%= f.text_field :review , class: "textarea" %>
                                            </div>
                                         </div> 
                                         <div class="modal-footer"> 
                                            <button class="btn btn-danger">Cancel</button> 
                                            <%= f.submit "Sent your review", class: "btn btn-primary"  %>
                                        </div>

                                    </div> 
                                </div>
                             </div> -->

