<section class="section">
    <div class="container">

        <p class="title">Manage Buying Oders</p>

        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Seller Name</th>
                    <th>Title</th>
                    <th>Due Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% if @orders.blank? %>
                    <tr>
                        <td colspan = "7" class = "has-text-centered" ><h1>NOTHING TO SHOW HERE</h1></td>
                    </tr>
                <% end %>
                <% @orders.each do |o| %>
                <tr>
                    <td><%= o.created_at.strftime('%d %b %Y')%></td>
                    <td><%= o.seller_name%></td>
                    <td>
                        <!-- <%= link_to o.title, gig_path(o.gig) if !o.gig.nil? %>
                        <%= link_to o.title, request_path(o.request) if !o.request.nil? %> -->

                        <%= link_to o.title, order_detail_path(o) %>

                    </td>
                    <td><%= o.due_date.strftime('%d %b %Y')%></td>
                    <td><%= o.amount%></td>
                    <td>
                        <span class = "tag <%= 'is-warning' if o.inprogress? %> <%= 'is-success' if o.completed?%>" >
                            <%= o.status.capitalize %>
                        </span>
                    </td>
                    <td>
                        <% if !o.completed? %>
                            <%= link_to 'Mark Complete', complete_order_path(o), method: :put, class: "button is-small is-primary #{'is-hidden'if o.completed?}"%>
                        <% else %>
                            <a aria-control="<%= o.id %>">
                            <%= link_to 'Rating', reviews_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window', class: 'button is-small is-outlined is-danger toggle-model'} %> 
                            </a>
                            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
                                <div class="modal-dialog" id = "<%= o.id %>"  role="document"> 
                                    <div class="modal-content" >
                                        <%= form_for Review.new do |f| %>
                                        <%= f.hidden_field :order_id , value: o.id %>
                                      
                                        <div class="modal-header"> 
                                            <div class="field">
                                                <form id="form" style="margin-left: 10px;">
                                                    <fieldset class="stars">
                                                      <input type="radio" name="stars" id="star1" <%= o.id %> ontouchstart="ontouchstart"/>
                                                      <label class="fa fa-star" for="star1" id = "<%= o.id %>"></label>
                                                      <input type="radio" name="stars" id="star2" <%= o.id %> ontouchstart="ontouchstart"/>
                                                      <label class="fa fa-star" for="star2" id = "<%= o.id %>"></label>
                                                      <input type="radio" name="stars" id="star3" <%= o.id %> ontouchstart="ontouchstart"/>
                                                      <label class="fa fa-star" for="star3" id = "<%= o.id %>"></label>
                                                      <input type="radio" name="stars" id="star4" <%= o.id %> ontouchstart="ontouchstart"/>
                                                      <label class="fa fa-star" for="star4" id = "<%= o.id %>"></label>
                                                      <input type="radio" name="stars" id="star5" <%= o.id %> ontouchstart="ontouchstart"/>
                                                      <label class="fa fa-star" for="star5" id = "<%= o.id %>"></label>
                                                      <!-- <input id="star-reset" type="radio" name="stars"/> -->
                                                    </fieldset>
                                                  </form>
                                            </div>
                                            </button> 
                                            <h4 class="modal-title" id="myModalLabel">Your rating</h4>
                                         </div> 
                                         <div class="modal-body"> 
                                            <div class="field">
                                                <%= f.text_field :review , class: "textarea" %>
                                            </div>
                                         </div> 
                                         <div class="modal-footer"> 
                                            <button class="btn btn-danger">Cancel</button> 
                                            <button class="btn btn-primary">Save</button> 
                                        </div>
                                        <% end %>
                                    </div> 
                                </div>
                             </div>
                        <% end %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</section>




<section>
   
</section>

