<!DOCTYPE html>
<html>
  <head>
    <title>Freelancer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
    <%= javascript_include_tag 'application'%>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/css/bootstrap.min.css" integrity="sha512-CpIKUSyh9QX2+zSdfGP+eWLx23C8Dj9/XmHjZY2uDtfkdLGo0uY12jgcnkX9vXOgYajEKb/jiw67EYm+kBf+6g==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    

  </head>

  <body>

   
    

    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>  
      
    <%= yield %>
   
    <script src ="https://code.jquery.com/jquery-3.3.1.js"> </script>
    <%= javascript_include_tag 'custom', "data-turbolinks-track": "load" %>
    
  </body>
</html>
