<!DOCTYPE html>
<html>
  <head>
    <title>Freelancer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
    <%= javascript_include_tag 'application'%>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    
  </head>
<body>

  <!-- ***** Header Area Start ***** -->
  <% unless (controller_name="passwords" && action_name=="update") || (controller_name="sessions" && action_name=="new") || (controller_name="users" && action_name=="create") || (controller_name="users" && action_name=="new") || (controller_name="passwords" && action_name=="edit") || current_page?("/register") || current_page?("/edit")  || current_page?("/login") || current_page?("/password/new") || current_page?("/password/edit")%> 
    <%= render 'shared/navbar' %>
  <% end %>
  <!-- ***** Header Area End ***** -->

  <%= yield %> 
  <% unless (controller_name="passwords" && action_name=="update") || (controller_name="sessions" && action_name=="new") || (controller_name="users" && action_name=="create") || (controller_name="users" && action_name=="new") || (controller_name="passwords" && action_name=="edit") || current_page?("/register") || current_page?("/edit")  || current_page?("/login") || current_page?("/password/new") || current_page?("/password/edit")%> 
    <%= render 'shared/flashes' %>
  <% end %>

  <% unless (controller_name="passwords" && action_name=="update") || (controller_name="sessions" && action_name=="new") || (controller_name="users" && action_name=="create") || (controller_name="users" && action_name=="new") || (controller_name="passwords" && action_name=="edit") || current_page?("/register") || current_page?("/edit")  || current_page?("/login") || current_page?("/password/new") || current_page?("/password/edit")%> 
    <%= render 'shared/footer' %>
  <% end %>
  <script src ="https://code.jquery.com/jquery-3.3.1.js"> </script>
  <%= javascript_include_tag 'raty', "data-turbolinks-track": "load" %>

 
</body>
</html>
